In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
avm=100
x=int(input("How many can do you need?"))
if x<=avm:
    print(x,"cans")
else:
    print("Bye, No of cans availabel are {}. Please enter cans below the available".format(avm))

How many can do you need?15
15 cans

**Break**

In [16]:
i=1
x=int(input("Please enter numbers to print "))
while i<=x:
    print(i ,end=" ")
    i=i+1
    if i==20:
        break
print(' loop is came out')

Please enter numbers to print 40
 loop is came out

**Continue**

In [18]:
v=int(input("please enter a number "))
while v>0:
    v=v-1
    if v==5:
        continue
    print(v,end=" ")
print('bye')

please enter a number10
9 8 7 6 4 3 2 1 0 bye

In [20]:
inventory=100
x=int(input("Enter the quantity "))
if x<=2:
    while x<=inventory:
        print('Order for',x,'Phones was placed')
        break
    if x>inventory:
        print('Out of stock')
else:
    print("Out of individual order limit")

Enter the quantity 1
Order for 1 Phones was placed

**Continue**

In [22]:
for i in range(1,101):
    if(i%2!=0):
        continue
    else:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

**Pass**

In [23]:
for i in range(1,101):
    if(i%2!=0):
        pass
    else:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [25]:
for i in range(1,101):
    if i%3==0 or i%5==0:
        print(i, end=" ")

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

**Check Prime Number or not**

In [7]:
count=0
x=int(input("Enter a number to check whether it is prime or not"))
for i in range(2,x):
    if x%i==0:
        count=count+1

if count>=1:
    print("Number is not prime")
else:
    print("Number is prime")

Enter a number to check whether it is prime or not7
Number is prime

In [16]:
import getpass
name=getpass.getpass("Enter Name: ")
print("Entered name is:",name)

Enter Name: ········
Entered name is: jagadeesh

In [18]:
import pandas as pd

In [30]:
data=pd.read_excel(r"C:\Users\HP\Desktop\data.xlsx")

In [31]:
data

           ID         Name
0  20MBAR0186  k.Jagadeesh
1  20MBAR0079   Raj Sankar
2  20MBAR0166  Tanmay Jain

In [57]:
import getpass
id=getpass.getpass("Enter ID: ")

name=data[data.ID==id]['Name']
print("Welcome ",name.to_string(index=False))

Enter ID: ········
Welcome  k.Jagadeesh

In [38]:
name="k.Jagadeesh"
password="20MBAR0186"

user=input("Please enter Credentials:")
user_id=user.upper()

if user_id==password:
    print("Welcome ",name.upper())
else:
    print("Please input correct id")

Please enter Credentials:20MBAR0186
Welcome  K.JAGADEESH

In [35]:
from random import random,randrange,seed
print(' The random numbers generated by the randrange was:')
for i in range(0,5):
    print(randrange(10,100),end=" ")

 The random numbers generated by the randrange was:
88 35 32 61 86

In [36]:
from random import random,randrange,seed
seed(100)
print("Random number is: ",random())

Random number is:  0.1456692551041303

In [37]:
import statistics as st

In [42]:
x=[25,45,68,98,78,65,58]
print("Mean :", st.mean(x))
print("Mode :", st.mode(x))
print("Harmonic Mean:",st.harmonic_mean(x))

Mean : 62.42857142857143
Mode : 25
Harmonic Mean: 52.79883066739209